doctype html
html
 div(class='add')
  form(method="post" action="/add")
   input(type="text" name="namn" placeholder="Matr채tt?" id="namn")
   input(type="text" name="antal" placeholder="Antal?" id="antal")
   input(type="text" name="pris" placeholder="Pris?" id="pris")
   button( id="add" type="submit") L채gg till

 br

 div(class='update')
  form(method="post" action="/update")
   input(type="text" name="updateNamn" placeholder="Matr채tt?" id="update-namn")
   input(type="text" name="updateAntal" placeholder="Antal?" id="update-antal")
   input(type="text" name="updatePris" placeholder="Pris" id="update-pris")
   input(type="text" hidden name="updateId" placeholder="update-id" id="update-id")
   button( id="update" type="submit") Uppdatera

 br
 br
 br


div(class='div-class' )
 form(method="post" action="/delete")
   input(type="text" name="delete" id="delete-input")
   button( id="delete-btn" type="submit") Bekr채fta


